[submodule "deps/redis_pool"]
	path = deps/redis_pool
	url = git://github.com/JacobVorreuter/redis_pool.git
[submodule "deps/mochiweb"]
	path = deps/mochiweb
	url = git://github.com/mochi/mochiweb.git
[submodule "deps/pagerduty"]
	path = deps/pagerduty
	url = git://github.com/JacobVorreuter/pagerduty.git
[submodule "deps/erlang_doozer"]
	path = deps/erlang_doozer
	url = git://github.com/JacobVorreuter/erlang_doozer.git
